/* General Reset */
* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(224, 219, 219);
  min-height: 100vh;
}

/* Make header full width */
header {
  position: sticky;
  z-index: 99;
  top: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Container for header content */
.container.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

/* New Flex Container for Image and Logo */
.header-logo-container {
  display: flex;
  align-items: center;
  gap: 1rem; /* Space between the image and the logo */
}

.container.header img {
  width: 80px;
  border-radius: 50%;
  display: block;
}

.logo h1 {
  font-size: 1.5rem;
  color: black;
  margin: 0;
}

.logo span {
  color: crimson;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.navigation li a:hover {
  border-bottom: 2px solid crimson;
}

.navigation .services {
  border-bottom: 2px solid crimson;
}

.banner {
  width: 100%;
  position: relative;
}
.banner img {
  object-fit: cover;
  height: 500px;
  width: 100%;
}
.main-container {
  padding: 1.5rem;
}
.main-container ol {
  list-style: none;
}
.main-container h2 {
  font-size: 2.5rem;
}
.main-container h3 {
  font-size: 1.6rem;
}
.main-container span {
  font-weight: bold;
  font-size: 20px;
}
.main-container p {
  line-height: 2rem;
  font-size: 20px;
}
.main-container li {
  padding-bottom: 25px;
  font-size: 20px;
  padding-left: 10px;
}

footer {
  background: white;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 15px -4px,
    rgba(0, 0, 0, 0.05) 0px -4px 10px -5px;
}
